<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="fragments/config :: config"></th:block>
</head>
<body>

    <th:block th:replace="fragments/header :: header"></th:block>
    
    <hr>
    <div class="row">
        <div class="col-2 col-lg-none">
            <h2>left</h2>
        </div>
        <div class="col-lg-8">
            <th:block layout:fragment="content"></th:block>
        </div>
        <div class="col-2 col-lg-none">
            <h2>right</h2>
        </div>
    </div>
    
    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>