<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="content">
    <form action="/modify" method="post">

        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="form-group">
            <textarea id="summernote" name="content"></textarea>
        </div>

    </form>

    <script>
            $('#summernote').summernote({
                height: 600
            })
        </script>
</th:block>

</html>